/* index.css */
#wrap main #hero_bnr {}
#wrap main #hero_bnr .heroswiper {
    position: relative;
    width: 100%; height: max-content;
}
#wrap main #hero_bnr .heroswiper .swiper-wrapper {}
#wrap main #hero_bnr .heroswiper .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 90vh;
}
#wrap main #hero_bnr .heroswiper .swiper-wrapper .slide1 {
    background-image: url(../img/herobnr-1.jpg);
    background-size:cover;
    background-position: center;
}
#wrap main #hero_bnr .heroswiper .swiper-wrapper .slide2 {
    background-image: url(../img/herobnr-1.jpg);
    background-size:cover;
    background-position: center;
}
#wrap main #hero_bnr .heroswiper .swiper-wrapper .slide3 {}
#wrap main #hero_bnr .heroswiper .swiper-scrollbar {
    background-color: rgba(226, 226, 226, 0.55);
    height: 1px; width: 1048px;
    position: absolute;
    left: 50%; bottom: 66px;
    transform: translateX(-50%);
}
#wrap main #hero_bnr .heroswiper .swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #fff;
    height: 2px; width: 266px;
}
#wrap main {}
#wrap main .section {}
#wrap main #new_product {}
#wrap main #new_product .title {}
#wrap main #new_product .title .title_info {}
#wrap main #new_product .title .title_info h1 {}
#wrap main #new_product .title .title_info p {}
#wrap main #new_product .title .more_btn {}
#wrap main #new_product .title .more_btn u {}
#wrap main #new_product .container {}
#wrap main #new_product .container .product_list {
    width:100%;
    display: flex; flex-flow: row nowrap;
    justify-content:space-between;
}
#wrap main #new_product .container .product_new_1 {}
#wrap main #new_product .container .product_new_2 {}
#wrap main #new_product .container .product_list li {
    max-width:319px;
    margin-top: 30px;
}
#wrap main #new_product .container .product_list li .p_img {
    position: relative;
}
#wrap main #new_product .container .product_list li .p_img .new_img {}
#wrap main #new_product .container .product_list li .p_img .new_img img {width: 100%;}
#wrap main #new_product .container .product_list li .p_img .wish_btn {
    position: absolute; z-index: 999;
    top:12px; right: 12px;
    width: 24px;
}
#wrap main #new_product .container .product_list li .p_img .wish_btn img {width: 100%;}
#wrap main #new_product .container .product_list li .p_info {
    display: flex; flex-flow: column nowrap; gap: 3px;
}
#wrap main #new_product .container .product_list li .p_info p {
    font-size: 1.0rem;
    font-weight: 300;
}
#wrap main #new_product .container .product_list li .p_info .price {
    font-size: 1.0rem;
    font-weight:600;
}
#wrap main #insta {}
#wrap main #insta .title {}
#wrap main #insta .title .title_info {}
#wrap main #insta .title .title_info h1 {}
#wrap main #insta .title .title_info p {}
#wrap main #insta .title .more_btn {}
#wrap main #insta .title .more_btn u {}
#wrap main #insta .container {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
#wrap main #insta .container .red_logo {
    display: flex;
    justify-content: center; align-items: center;
    width: 560px;
}
#wrap main #insta .container .red_logo img {width:70%;}
#wrap main #insta .container .instazone {
    width: 100%;
    display: flex; flex-flow: column nowrap; gap: 10px;
}
#wrap main #insta .container .instazone .insta_1 {}
#wrap main #insta .container .instazone .insta_2 {}
#wrap main #insta .container .instazone .insta_right {
    display: flex; flex-flow: row nowrap; gap: 10px;
}
#wrap main #insta .container .instazone .insta_right a {
    position: relative;
    width: 275px; height: 275px;
}
#wrap main #insta .container .instazone .insta_right a:hover {
    border: #E72819 solid 4px;
    transition: all 0.1s;
}
#wrap main #insta .container .instazone .insta_right a:hover .ins_hum {
    display: none;
}
#wrap main #insta .container .instazone .insta_right a .ins_hum {
    position: absolute; z-index: 999;
    display: flex;
}
#wrap main #insta .container .instazone .insta_right a .ins_ac {
    position: absolute;  z-index: 1;
}
#wrap main #insta .container .instazone .insta_right a img {width: 100%;}
#wrap main #members_bnr {}
#wrap main #members_bnr a {
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center;
    width: 100%; height: 208px;
    background-image: url(../img/member.png);
    background-size: cover;
    background-position: center;
    gap:31px;
}
#wrap main #members_bnr a img {width:100%; height: 48px;}
#wrap main #members_bnr a .m_line {
    background-color: #fff;
    width:1px; height: 8px;}
#wrap main #members_bnr a p {
    color: #fff;
    font-size: 0.88rem; font-weight:500;
}
#wrap main #collabo {}
#wrap main #collabo .title {}
#wrap main #collabo .title .title_info {}
#wrap main #collabo .title .title_info h1 {}
#wrap main #collabo .title .title_info p {}
#wrap main #collabo .title .more_btn {}
#wrap main #collabo .title .more_btn u {}
#wrap main #collabo .container {}
#wrap main #collabo .container .tab_title {
    text-align: center;
    margin-bottom: 30px;
}
#wrap main #collabo .container .tab_title a {
    font-size: 1.50rem; font-weight: 500; color: #a3a3a3;
    margin-right: 25px;
}
#wrap main #collabo .container .tab_title .p_btn.active {
    color: #E72819; text-decoration:underline;;
}
#wrap main #collabo .container .tab_title .m_btn {
    margin-right: 0px;
}
#wrap main #collabo .container .tab_contents {
    width: 100%;
}
#wrap main #collabo .container .tab_contents .contents {
    width: 100%;
    display: flex;  flex-flow: row nowrap;
    justify-content: space-between; gap:10px;
}
#wrap main #collabo .container .tab_contents .moncch {display: none;}
#wrap main #collabo .container .tab_contents .peanuts {}
#wrap main #collabo .container .tab_contents .peanuts * a {
    background-size: cover;
    background-position: center;
}
#wrap main #collabo .container .tab_contents .peanuts .collabo_mainlink {
    width: 100%;
    background-image: url(../img/colla_01.png);
    background-size: cover;
    background-position: center;
}
#wrap main #collabo .container .tab_contents .peanuts .collabo_mainlink a {
    display: block;
    width: 908px; height: 760px;
}
#wrap main #collabo .container .tab_contents .peanuts .card_imgs {
    width: 100%;
    display: flex; flex-flow: column nowrap;
    justify-content: space-between;
    gap:10px;
}
#wrap main #collabo .container .tab_contents .peanuts .card_imgs a {
    display: block;
    max-width:502px; height: 100%;
    background-size:cover;
}
#wrap main #collabo .container .tab_contents .peanuts .card_imgs .p_keyring {
    background-image: url(../img/colla_03.jpg);
}
#wrap main #collabo .container .tab_contents .peanuts .card_imgs .p_cp {
    background-image: url(../img/colla_02.jpg);
}
#wrap main #collabo .container .tab_contents .peanuts .card_imgs .p_show {
    background-image: url(../img/colla_04.png);
}
#wrap main #lookbook {
    background-color: #F8F8F8;
}
#wrap main #lookbook .title {}
#wrap main #lookbook .title .title_info {}
#wrap main #lookbook .title .title_info h1 {}
#wrap main #lookbook .title .title_info p {}
#wrap main #lookbook .container {}
#wrap main #lookbook .container .bigbdle {}
#wrap main #lookbook .container .bigbdle .pnum {
    position: relative; bottom: 50px; left: 40%;
}
#wrap main #lookbook .container .bigbdle .pnum .page {
    width: max-content; left:20.3px; bottom: 5px;
    font-size: 0.85rem;
}
#wrap main #lookbook .container .bigbdle .pnum .page .swiper-pagination-current {
    font-weight: 600;
}
#wrap main #lookbook .container .bigbdle .pnum .next,
#wrap main #lookbook .container .bigbdle .pnum .prev {
    width: max-content; height: max-content;
    color: #000;
    transform: scale(0.8);
}
#wrap main #lookbook .container .bigbdle .pnum .next {
    left: 50px;
}
#wrap main #lookbook .container .bigbdle .pnum .prev {}
#wrap main #lookbook .container .bigbdle .bigwrapper {
    position: relative;
    margin-bottom: 44px;
}
#wrap main #lookbook .container .bigbdle .bigwrapper .slide1 {}
#wrap main #lookbook .container .bigbdle .bigwrapper .slide2 {}
#wrap main #lookbook .container .bigbdle .bigwrapper .slide3 {}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide {
    margin: 0 auto;
    width: 100%;
    display: flex; flex-flow: row nowrap; gap:51px;
    justify-content: center;
}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .lbmain {
    display: block;
    width: 523px; height: 754px;
    background-image: url(../img/looks/look_main.jpg);
    background-position: center;
    background-size: cover;
}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap {
    width: 846px;
}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .slide_title {
    width: 100%;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: end;
    margin-bottom: 30px;
}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .slide_title h2 {
    font-size: 1.81rem; font-weight: 300;
}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .slide_title h2 em {
    font-size: 2.0rem; font-weight:600;
}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap  .slide_title .more_btn {}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap  .slide_title .more_btn u {}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper {}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper .swiper-wrapper {
    height: 583px;
}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    display: flex; flex-flow: column nowrap; gap: 8px;
}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper .swiper-wrapper .swiper-slide .p_img {
}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper .swiper-wrapper .swiper-slide .p_img .pp_img {
    position: relative;
}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper .swiper-wrapper .swiper-slide .p_img .pp_img img {width: 100%;}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper .swiper-wrapper .swiper-slide .p_img .kidsmark {
    position: absolute; z-index: 999;
    top: 54px; right: 27px;
    width: 40px; height: 40px;
}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper .swiper-wrapper .swiper-slide .p_img .kidsmark img {width: 100%;}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper .swiper-wrapper .swiper-slide .p_info {
    margin-bottom: 40px;
}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper .swiper-wrapper .swiper-slide .p_info p {
    font-weight: 300;
}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper .swiper-wrapper .swiper-slide .p_info .price {
    font-weight: 600;
}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper .swiper-scrollbar {
    background-color: rgb(252, 252, 252);
    width: 846px; height: 2px;
}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper .swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #fff;
    width: 335px; height: 3px;
}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper .swiper-wrapper .slide1 {}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper .swiper-wrapper .slide2 {}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper .swiper-wrapper .slide3 {}
#wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .lb_swiper .swiper-wrapper .slide4 {}
#wrap main #brand {}
#wrap main #brand .title {}
#wrap main #brand .title .title_info {}
#wrap main #brand .title .title_info h1 {}
#wrap main #brand .title .title_info p {}
#wrap main #brand .container {}
#wrap main #brand .container .swiper {
    position: relative;
}
#wrap main #brand .container .swiper .swiper-wrapper {}
#wrap main #brand .container .swiper .swiper-wrapper .swiper-slide {
    width: max-content; height: 655px;
    background-position: center;
    background-size: cover;
    display: flex;  flex-flow: column nowrap;
    justify-content: center; align-items: center; gap: 10px;
}
#wrap main #brand .container .swiper .swiper-wrapper .swiper-slide * {
    color: #fff;
    text-align: center;
}
#wrap main #brand .container .swiper .swiper-wrapper .swiper-slide .slide_blk {
    display: flex; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.4);
    flex-flow: column nowrap; justify-content: center; align-items: center;
}
#wrap main #brand .container .swiper .swiper-wrapper .swiper-slide .slide_blk .b_logo {
    height: 179px;
    display: flex;  justify-content: center; align-items: center;
}
#wrap main #brand .container .swiper .swiper-wrapper .swiper-slide .slide_blk .b_logo img {width:100%;}
#wrap main #brand .container .swiper .swiper-wrapper .swiper-slide .slide_blk .brand_info {
    font-size: 1.06rem; line-height: 1.35; font-weight: 300;
    padding: 50px 0;
}
#wrap main #brand .container .swiper .swiper-wrapper .swiper-slide .slide_blk .brand_btn {
    border: solid 1px #fff;
    border-radius: 6px;
    padding: 4px 41px 0; height: 35px; width: max-content;
    margin: 0 auto;
}
#wrap main #brand .container .swiper .swiper-wrapper .swiper-slide .slide_blk .brand_btn p {
    font-size: 1.06rem; line-height: 1.35; font-weight: 300;
}
#wrap main #brand .container .swiper .swiper-wrapper .slide1 {
    background-image:url(../img/brand/brand_01.png);
}
#wrap main #brand .container .swiper .swiper-wrapper .slide1 .slide_blk .b_logo {width: 313px;}
#wrap main #brand .container .swiper .swiper-wrapper .slide2 .slide_blk .b_logo {width: 352px;}
#wrap main #brand .container .swiper .swiper-wrapper .slide3 .slide_blk .b_logo {width: 402px;}
#wrap main #brand .container .swiper .swiper-wrapper .slide2 {
    background-image:url(../img/brand/brand_02.png);

}
#wrap main #brand .container .swiper .swiper-wrapper .slide3 {
    background-image:url(../img/brand/brand_03.png);
}
#wrap main #brand .container .swiper .swiper-scrollbar {
    background-color: rgba(226, 226, 226, 0.55);
    height: 1px; width: 1048px;
    position: absolute; bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
#wrap main #brand .container .swiper .swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #fff;
    height: 2px; width: 266px;
}