@media screen and (max-width:1024px) {
/* -------------------------------------------------띠배너 */
    .tie_bnr a {
    font-size: 0.69rem;
    }

/* -------------------------------------------------~헤더 */
    #wrap header .sub_bg {
    height: 440px;
    }
    #wrap header .top_bnr .bnr_left {
    gap:10px;
    }
    #wrap header .top_bnr .bnr_left .nav {
    font-size: 0.63rem; gap: 10px;
    }
    #wrap header .top_bnr .bnr_left .nav li a {
    font-size: 0.63rem; 
    }
    #wrap header .top_bnr .bnr_left h1 {
    width: 111px; height: 14px;
    }
    #wrap header .top_bnr .bnr_right a {
    font-size: 0.63rem;
    }
    #wrap header .top_bnr .bnr_right a:nth-child(1) {width: 12px; height: 12px;}
    #wrap header .top_bnr .bnr_right a:nth-child(2) {width: 13px; height: 11px;}
    #wrap header .top_bnr .bnr_right a:nth-child(3) {width: 14px; height: 14px;}
    #wrap header .top_bnr .bnr_right a:nth-child(4) {width: 12px; height: 12px;}
    #wrap header .top_bnr .bnr_right a:nth-child(5) {line-height: 1.8;}
    #wrap header .top_bnr .bnr_left .nav li .lnb_depth li .lnb_depth_2 li a {
    font-size: 0.63rem;
    }

/* -------------------------------------------------히어로배너 */
    #wrap main #hero_bnr .heroswiper .swiper-scrollbar {
        width: 832px;
    }
    #wrap main #hero_bnr .heroswiper .swiper-scrollbar .swiper-scrollbar-drag {
        width: 266px;
    }

    #wrap main #hero_bnr .heroswiper .swiper-wrapper .swiper-slide {
        width: 100%;
        height: 900px;
    }
    #wrap main #hero_bnr .heroswiper .swiper-wrapper .slide1 {
        background-image: url(../img/herobnr-t.jpg);
    }
    #wrap main #hero_bnr .heroswiper .swiper-wrapper .slide2 {
        background-image: url(../img/herobnr-t.jpg);
    }

/* -------------------------------------------------메인~섹션별 */
    #wrap main .section {
        padding: 100px 80px;
    }
    #wrap main .section .title .title_info h1 {
        font-size: 1.31rem;
    }
    #wrap main .section .title .title_info p {
        font-size: 0.69rem; font-weight: 300;
    }
    #wrap main * .more_btn u {
        font-size: 0.5rem;
    }
/* -------------------------------------------------1.new */
    #wrap main #new_product .container .product_list li {
        max-width: 216px;
    }
    #wrap main #new_product .container .product_list li .p_info p {
        font-size: 0.69rem;
    }
    #wrap main #new_product .container .product_list li .p_info .price {
        font-size: 0.81rem;
    }
/* -------------------------------------------------2.insta */
    #wrap main #insta .container .red_logo {
        display:none;
}
/* -------------------------------------------------3.member */
    #wrap main #members_bnr {
        padding: 50px 80px;
    }
    #wrap main #members_bnr a {
        height: 208px;
    }
    #wrap main #members_bnr a img {width: max-content; height: 45px;}

    #wrap main #members_bnr a p {
        font-size: 0.94rem;
    }
/* -------------------------------------------------3.collabo */
    #wrap main #collabo .container .tab_title a {
        font-size: 0.94rem; 
    }
    #wrap main #collabo .container .tab_contents .peanuts .collabo_mainlink {
        background-image: url(../img/colla_01_t.png);
    }
    #wrap main #collabo .container .tab_contents .peanuts .card_imgs .p_keyring {
        background-image: url(../img/colla_03_t.png);
    }
    #wrap main #collabo .container .tab_contents .peanuts .card_imgs .p_cp {
        background-image: url(../img/colla_02_t.png);
    }
    #wrap main #collabo .container .tab_contents .peanuts .card_imgs .p_show {
        background-image: url(../img/colla_04_t.png);
    }
    #wrap main #collabo .container .tab_contents .peanuts .collabo_mainlink a {
        width: 557px; height: 460px;
    }
    #wrap main #collabo .container .tab_contents .peanuts .card_imgs a {
        max-width:297px;
    }
/* -------------------------------------------------4.lookbook */
    #wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide {
        flex-flow: column nowrap; gap:20px;
        justify-content: center;
    }
    #wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .lbmain {
        width: 864px; height: 754px;
        background-image: url(../img/looks/look_main_t.jpg);
    }
    #wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .slide_title h2 {
        font-size: 1.38rem;
    }
    #wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .slide_title h2 em {
        font-size: 1.56rem;
    }
    #wrap main #lookbook .container .bigbdle .bigwrapper .swiper-slide .right_wrap .slide_title {
        width: 100%;
        margin-bottom: 20px;
    }
    #wrap main #lookbook .container .bigbdle .pnum {
        left: 45%; bottom:0;
    }

/* -------------------------------------------------5.brand */
    #wrap main #brand .container .swiper .swiper-scrollbar {
        width: 746px; bottom: 37.5px;
    }
    #wrap main #brand .container .swiper .swiper-scrollbar .swiper-scrollbar-drag {
        width: 208px;
    }
    #wrap main #brand .container .swiper .swiper-wrapper .swiper-slide .slide_blk .b_logo {
        width: 250px;
    }
    #wrap main #brand .container .swiper .swiper-wrapper .swiper-slide .slide_blk .brand_info {
        font-size: 0.69rem;
    }
    #wrap main #brand .container .swiper .swiper-wrapper .swiper-slide .slide_blk .brand_btn p {
        font-size: 0.69rem;
    }
    #wrap main #brand .container .swiper .swiper-wrapper .swiper-slide .slide_blk .brand_btn {
        padding: 3px 30px 0; height: 24px; width: max-content;
    }
/* -------------------------------------------------6.footer */
    #wrap footer * {
        font-size: 0.5rem;
    }
    #wrap footer * em {
        font-size: 0.56rem;
    }
    #wrap footer .line_zone {
        gap:60px;
    }
}
@media screen and (max-width:401px) {}
